
$color1 : white;
$color2 : cyan;
$color3 : white;
$color4 : white;
$color5 : white;
$color6 : white;
$color7 : white;
$color8 : white;
$color9 : white;
$color10 : white;

$bordercolor1 : black;
$bordercolor2 : black;
$bordercolor3 : black;

$textcolor1 : black;
$textcolor2 : black;
$textcolor3 : black;

// - === - === - === - === - === - 

$distance1 : 0.25em;
$distance2 : 0.5em;
$distance3 : 0.75em;
$distance4 : 1em;
$distance5 : 1.25em;
$distance6 : 1.5em;
$distance7 : 1.75em;
$distance8 : 2em;
$distance9 : 2.25em;
$distance10 : 2.5em;

$distance11 : 3em;
$distance12 : 4em;
$distance13 : 5em;
$distance14 : 6em;
$distance15 : 7em;
$distance16 : 8em;
$distance17 : 9em;
$distance18 : 10em;




